// MY-THEME-COLOR
$purple-dark:  #9926f0;
$purple-light:  #bb6ef5;
$pink:    #d122e3;

// START gray and white-color-variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;
// END gray and white-color-variables

$primary:       $purple-dark;
$secondary:     $pink;

//GRADIANT MIXIN:
@mixin grad {
    background: linear-gradient(to right,rgba($primary,0.95),rgba($secondary,0.95));
}


.testimonials{
    position: relative;
    padding: 0;
    @include grad;

    &__card{
        background-color: rgba($white,0.8);
        padding: 2rem 1.25rem;
        border-radius:0.625rem;
        height:auto;
        text-align: center;

        i{
            font-size:1.5rem;
            color: rgba($primary,0.7);
        }

        .ratings{

            i{
                color: rgba($primary,0.7);
                font-size: 1rem;
            }
        }
    }

    &__picture{
        position:absolute;
        width: 6rem;
        height:6rem;
        left: 50%;
        transform: translate(-50% ,-50% );

        img{
            border: 0.325rem solid rgba($primary , 0.7);
        }
    }

    &__name{
        padding-top: 3rem;
        margin-bottom: 1rem;
        text-align: center;
        font-weight:500;
        color: $white;

        h3{
            padding-top: 0.8rem;
            text-transform: capitalize;
        }
        p{
            padding-bottom: 2rem;
            text-transform: capitalize;
            
        }
    }
}
